@import "../../global.scss";

.pageTitle {
  font-size: 28px;
  font-weight: 400;
  padding: 20px;
  border-bottom: 2px solid $lightGray;
}

.moduleCard {
  display: flex;
  align-items: self-start;
  width: 250px;
  height: 300px;
  max-width: 200px;
  max-height: 300px;
  transition: all 1s ease;

  .moduleCardItems {
    padding: 15px;

    h3 {
      color: $black;
      font-size: 16px;
      font-weight: 500;
      padding: 6px 3px 3px 6px;
    }
    h4 {
      color: $gray;
      font-size: 14px;
      font-weight: 400;
      margin-top: 10px;
    }
  }

  .actions {
    position: absolute;
    bottom: 14px;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    padding: 0 20px;

    button {
      height: 20px;
      width: 40px;
      border-radius: 15%;
      cursor: pointer;
      color: $black;
      border: 1px solid rgba(158, 154, 167, 0.971);
      background-color: $shade;
    }
  }
  &:hover {
    transform: scale(1.1);
    transition: all 1s ease;
  }
}
