@import "../../global.scss";

div.layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;

  main { 
    margin: 40px 100px;
    border-radius: 10px;
    background-color: $white;
  }
}
