nav {
  padding: 8px;
  background: white;
  display: flex;
  gap: 35px;
  border-bottom: 3px solid lightgray;

  div.navItem a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 400;

    &:hover {
      color: Black;
      text-decoration: underline;
      text-decoration-color: #00a387;
      text-decoration-thickness: 0.2em;
    }
  }
}
