$font-family: sans-serif;
$margin-item: 10px;
$padding-content: 10px;
$text-color: #190505;
$button-size: 20px; // Customize the button size as needed
$button-background: #00a387; // Customize the button background color

.accordion {
  .accordion-item {
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 4px rgba(70, 70, 70, 0.3);
    position: relative;
    margin-top: $margin-item;
    background-color: #ffffff; // Change this background color as needed
    &:hover {
      transform: scale(1.1);
    }
    &.active {
      .accordion-header::before {
        content: "-";
      }
    }

    .accordion-header {
      position: relative;
      text-align: start;
      width: 100%;
      padding: $padding-content;
      color: $text-color;
      cursor: pointer;

      &::before {
        content: "+";
        position: absolute;
        //top: 20%;
        left: +80px;
        font-size: 1.5rem;
        display: inline-block;
        width: $button-size;
        height: $button-size;
        line-height: $button-size;
        text-align: center;
        background-color: $button-background;
        border-radius: 60%;
        transform: translateY(-50%);
      }
      &::after {
        content: "-";
      }
    }

    .accordion-content {
      position: relative;
      padding: $padding-content;
      color: $text-color;
      cursor: pointer;
    }
  }
}
