@import "../../global.scss";

div.Icon {
  /* Appearance */
  width: auto;
  height: 100%;

  /* Layout */
  display: flex;
  align-items: center;
  justify-content: center;

  & > img {
    width: 100%;
    height: 100%;
  }
}

/* Styling of Icons acknowledgement component */

p.IconAcknowledge {
  font-size: 80%;

  & > a {
    color: GetThemeColor(1);
    text-decoration: none;
  }
}
